.App-style {

  background-color: #f6f8fa;
  height: 10000px;
}
.logo{
  width: 100%;
  height: 150px;
  background-color: white ;
border-bottom: 5px #232f61 solid;
}
.content-signin{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height:100%;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}
.block-content{
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items: center;
  border: #232f61 solid 5px;
  height: 300px;
  width: 300px;
  margin: 20px;
}
.icon-size{
  width: 200px;
  height: 240px;
  color: #e83c4c;
}
.title-icon{
  background-color: #232f61;
  color: white;
  font-weight: 200;
  font-size: 30px;
  width: 100%;
  height: 80px;
  text-align: center;

}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;

}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #f6f8fa;
  width: 300px;
  margin-top: 30px;

}

.content-flex{
  display: flex;
  flex-direction: row;

}

.navBar{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-bottom: #ec6e15 3px solid;
}
.navBar-details{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 90px;
  font-size: 14x;
  width: 100%;
  color: #232f61;
 

}
.avatar-style{
  display: flex;
  align-items: center;
  max-height: 90px;
  margin:10px;
}
.search{
  margin: 20px;
}