
.global-content{
    display: flex;
    flex-direction: row;
    width: 100%;


}
.SingnIn-picture{
    width : 50%;
    height: 100vh;
  
}

.signIn-form{
  background-color:#3daf8d;
  width : 50%;
  height: 100vh;

}
.choice{
  display: flex;
  background-color:  white;
  border-radius: 15px;
  padding: 0;
  height: 30px;
  width:50%; 
  text-align: center; 
  margin: 0 10px 20px 30px;
}

li{
  list-style-type: none;
  display: flex;
  text-align: center;
  margin-bottom: 25px;
  justify-content: center;
}
.unordred-list{
  display: flex;
  justify-content: space-around;
  width: 125px;
  height: 30px;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  font-size: 16px;
  color: #3daf8d;
  border: 3px solid white;
  
}

.unordred-list-condition{
  display: block;
  width: 125px;
  height: 30px;
  margin: 0;
  padding: 0;
  border-radius :  15px;
  font-size: 16px;
  color: white;
  background-color: #3daf8d;

  border: 3px solid white;
 
  opacity: 0.9;
  
 
}